<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="signin.css">
</head>

<body>
  <img
    src="https://cdni.iconscout.com/illustration/premium/thumb/male-web-developer-doing-research-on-development-illustration-download-in-svg-png-gif-file-formats--thinking-researching-and-pack-design-illustrations-4759504.png"
    alt="">
  <div class="form scale-up-hor-right">
    <form class="scale-up-hor-right " action="/" method="post">
      <h1 class="tracking-in-contract-bck-top">Register</h1>
      <div class="name">
        <input type="text" name="fname" placeholder="Enter your first name">
        <input type="text" name="lname" placeholder="Enter your last name">
      </div>
      <input type="email" name="email" placeholder="Enter your Email">
      <div class="age">
        <input type="number" name="day" placeholder="day">
        <input type="number" name="month" placeholder="month">
        <input type="number" name="year" placeholder="year">
      </div>
      <input type="password" name="password" placeholder="Enter your password">
      <input type="password" name="rpassword" placeholder="Repead password">
      <button>Register</button>
      <a href="/login">Login</a>
    </form>
  </div>
</body>

</html>