<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="signin.css">
</head>

<body>
  <img
    src="https://cdni.iconscout.com/illustration/premium/thumb/male-web-developer-doing-research-on-development-illustration-download-in-svg-png-gif-file-formats--thinking-researching-and-pack-design-illustrations-4759504.png"
    alt="">
  <div class="form scale-up-hor-right">
    <form class="scale-up-hor-right " action="/login" method="post">
      <h1 class="tracking-in-contract-bck-top">Login</h1>
      <input type="email" name="email" placeholder="Enter your Email">
      <input type="password" name="password" placeholder="Enter your password">
      <button>Login</button>
      <a href="/">Signin</a>
    </form>
  </div>
</body>

</html>